<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thing.gatdawatda">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_final"
        android:label="가따와따"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        //android:windowSoftInputMode="adjustNothing"


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1n4UBlK0oAyqMeHHsdgYmEJBraGWfaxc" />

        <activity
            android:name=".activity_loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".activity_login" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".home.activity_home" />
        <activity android:name=".record.activity_record" android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name=".record.activity_record_calendar" />
        <activity android:name=".record.activity_record_spot" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".plan.activity_plan" />
        <activity android:name=".plan.activity_my_plan" />
        <activity android:name=".mypage.activity_mypage" />
        <activity android:name=".search.activity_search" android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name=".record.activity_record_calendar_googlemap" />
        <activity android:name=".mypage.activity_setup" android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activity_login_register" android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name=".post.activity_post" android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity android:name=".post.activity_post_spot" android:windowSoftInputMode="adjustResize|adjustPan"/>
        <service android:name=".MyService"></service>
    </application>

</manifest>